@font-face {
  font-family: Vollkorn;
/*src: url('fonts/CentarRegular.otf');*/
  src: url('fonts/Vollkorn-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: NextArt;
  /*src: url('fonts/YanoneKaffeesatz-Bold.otf');*/
  src: url('fonts/NEXT ART_Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Medium.ttf');
  font-weight: 300;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px;
}

body{
  display: grid;
  grid-template-areas:
  ". header"
  ". content"
  ". footer";
  grid-template-rows: auto auto auto;
  grid-template-columns: 250px 1fr;
}

h1{
  font-family: NextArt;
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

h2{
  font-family: NextArt;
  font-size: 2rem;
  letter-spacing: 0.07rem;
  font-weight: 700;
}

.clearfix::after{
  content: "";
  clear: both;
  display: table;
}

.header{
  grid-area: header;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #f7dca0;
  min-height: 60px;
}

.header__menu{
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  min-width: 70%;
  margin-left: 30px;
}

.header__item{
  font-family: Montserrat;
  font-weight: 300;
  text-decoration: none;
  color: #000000;
  font-size: 0.9rem;
  padding: 0 20px;
}

.header__phoneNumber{
  font-family: Montserrat;
  font-size: 1.3rem;
  margin-right: 30px;
}

.sideBar{
  /*grid-area: sideBar;*/
  position: fixed;
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
  background-color: #7D1A2C;
}

.sideBar__logo{
  padding: 30px 0;
  display: block;
}

.sideBar__menu{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sideBar__menu a:nth-child(1){
  background: url('img/sideBar__icon_1.png') 0 0 no-repeat;
}

.sideBar__menu a:nth-child(2){
  background: url('img/sideBar__icon_2.png') 0 0 no-repeat;
}

.sideBar__menu a:nth-child(3){
  background: url('img/sideBar__icon_3.png') 0 0 no-repeat;
}

.sideBar__menu a:nth-child(4){
  background: url('img/sideBar__icon_4.png') 0 0 no-repeat;
}

.sideBar__menu a:hover{
  background-position: left center;
}

.sideBar__item{
  height: 50px;
  padding-left: 65px;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  text-decoration: none;
  color: #FFFFFF;
}

.sideBar__cart{
  margin-top: 100px;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 1.4rem;
  text-decoration: none;
  color: #540c19;
}

.content{
  grid-area: content;
}

.content__slider{
  position: relative;
}

.content__slider::before{
  content: '<';
  position: absolute;
  top: 40%;
  left: 0;
}

.content__slider::after{
  content: '>';
  position: absolute;
  top: 40%;
  right: 0;
}

.content__slider::after, .content__slider::before{
  font-family: Vollkorn;
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0 10px;
  color: #FFFFFF;
  background-color: #555555;
}

.content__banner{
  width: 100%;
  display: block;
}

.content__features{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f7dca0;
}

.content__stickers{
  padding: 20px 10px;
  display: block;
  width: 100%;
  object-fit: contain;
}

.content__title{
  text-align: center;
  margin: 60px 0 40px 0;
}

.productCard{
  padding-bottom: 30px;
  border-bottom: 1px #BBBBBB solid;
  margin: 0 50px 20px 50px;
}

.productCard__image_alingLeft{
  margin: 15px 50px 0 0;
    float: left;
}
.productCard__image_alingRight{
  margin: 15px 0 0 50px;
    float: right;
}

.productCard__title{
  display: inline;
}

.productCard__description{
  font-family: Vollkorn;
  font-size: 1.2rem;
  line-height: 1.7rem;
  padding-right: 30px;
  /*margin-top: 30px;*/
  margin-top: 20px;
}

.productCard__button{
  background-color: #f41d4f;
  border-radius: 5px;
  color: #FFFFFF;
  font-family: Montserrat;
  font-size: 1.2rem;
  padding: 15px 30px;
  border: none;
  margin-top: 45px;
  max-width: 80%;
}

.footer{
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 25px 0;
  font-family: Montserrat;
}

.footer__contacts{
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  margin-left: 50px;
}

.footer__adress{
  background: url('img/location.png') left center no-repeat;
  background-size: 30px;
  padding-left: 45px;
}

.footer__phoneNumber{
  height: 30px;
  line-height: 30px;
  background: url('img/call.png') left center no-repeat;
  background-size: 30px;
  padding-left: 45px;
  margin-top: 20px;
}

.footer__email{
  height: 30px;
  line-height: 30px;
  background: url('img/email.png') left center no-repeat;
  background-size: 30px;
  padding-left: 45px;
  margin-top: 20px;
}

.footer__menu{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  max-height: 70px;
}

.footer__item{
  font-weight: 700;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
  color: #000000;
}

.footer__item:nth-of-type(even){
  margin-top: 30px;
}

.footer__item:nth-of-type(n+3){
  padding-left: 25px;
}

.footer__copyright{
  font-size: 0.9rem;
  margin-right: 50px;
  align-self: flex-end;
}



@media all and (max-width: 1000px) {
  html{
    font-size: 14px;
  }

  body{
    display: flex;
    flex-direction: column;
  }

  .header{
    display: none;
  }

  .sideBar{
    flex-order: -1;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: auto;
  }

  .sideBar__logo{
    align-self: flex-start;
  }

  .sideBar__item{
    font-size: 1.1rem;
    position: relative;
  }

  .sideBar__item::after{
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -15px;
    left:0;
    background-color: #560412;
  }

  .sideBar__cart{
    text-align: center;
    align-self: center;
    margin-bottom: 50px;
  }


  .content__slider{
    display: none;
  }

  .content__features{
    overflow: hidden;
  }

  .productCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 0 20px 0;
  }

  .productCard__title{
    text-align: center;
    margin-top: 30px;
  }

  .productCard__description{
    padding-left: 30px;
    font-size: 1rem;
    word-break: break-all;
  }

  .productCard__image_alingLeft{
    float: none;
    margin: 0;
    object-fit: cover;
    object-fit: contain;
    width: 100%;
    max-height: 500px;
  }

  .productCard__image_alingRight{
    float: none;
    margin: 0;
    object-fit: contain;
    width: 100%;
    max-height: 500px;
  }

  .footer{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 50px;
  }

  .footer__contacts{
    margin: 0;
  }

  .footer__menu{
    max-height: none;
    flex-wrap: nowrap;
    width: 100%;
    margin-top: 35px;
  }

  .footer__item:nth-of-type(n){
    width: 100%;
    margin-top: 15px;
    padding-left: 45px;
  }

  .footer__copyright{
    padding-left: 45px;
    margin: 50px 0 0 0;
  }

}
